
/* General body styling */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  margin: 0;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

#logo{
  width: 84px;
  height: 76.15px;
}
#logo-name{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16.43px;
  font-weight: 400;
  line-height: 42.37px;
  letter-spacing: 6.160543441772461px;
  padding-top: 13px;
  padding-left: 12.41px;
  padding-left: 0px;

}

#header-section{
  display: flex;
  margin: 18px 28.7px 0px 28px;
}

.search-bar {
  padding: 3px 8px 3px 0px;
  margin: 17px 86px 23.41px 0px;
  border-top:    0.5px solid #000000;
  border-right:  0.5px solid #000000 ;
  border-bottom: 0.5px solid #000000;
  border-left:   0px;
  width: 520px;
  height: 28px;
  padding: 7px 8px 7px 8px;
  gap: 0px;
  opacity: 0px;
  border-radius: 0px 10px 10px 0px;

}

.search-btn {
  border: 0.5px solid #000000;
  border-top:    0.5px solid #000000;
  border-right:  0px ;
  border-bottom: 0.5px solid #000000;
  border-left:   0.5px solid #000000;
  padding: 3px 8px 3px 8px;
  border-radius: 10px 0px 0px 10px;
  background-color: white;
  cursor: pointer;
  margin: 17px 0px 23.41px 135px;
  width: 28px;
  height: 28px;
  font-family: SF Pro;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.4000000059604645px;
}

.login-btn {
  width: 95px;
  height: 28px;
  margin: 15px 8px 25.41px 0px;
  padding: 4px 28.5px 4px 28.5px;
  gap: 1px;
  border-radius: 40px;
  border: 0.5px 0px 0px 0px;
  opacity: 0px;
  border: 0.5px solid #000000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.23000000417232513px;
  text-align: left;
}

.signup-btn {
  width: 95px;
  height: 28px;
  padding: 4px 20px 4px 20px;
  gap: 1px;
  border-radius: 40px;
  opacity: 0px;
  background: #F5D187;
  margin: 15px 36px 25.41px 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.23000000417232513px;
  text-align: left;


}

#filter-section{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  margin: 18px 28.7px 0px 28px;
  
}
#menu-list{
  margin: 33px 53px 105.76px 53px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 1,174px;
  max-height: 453.24px;
  gap: 19px 60px;
  
}

.menu-item{
  width: 540.78px;
  height: 138.41px;
  padding: 8px;
  border-radius: 8px;
  opacity: 0px;
  border: 1px solid #D2D8CB;
  display: flex;
}

.menu-image-div{
  width: 163.22px;
  height: 122.41px;
  border: 0px;
}
.menu-item-image{
  height: 100%;
  width: 100%;
  border-radius: 8.37px;
  border: 0px;
}

.primary-menu-item-details-div{
  margin: 0px;
}

.menu-item-name{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 14.43px;
  letter-spacing: 0.18033833801746368px;
  text-align: left;
}

.menu-item-description{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 15.11px;
  letter-spacing: -0.18135163187980652px;
  text-align: left;
}

.menu-item-rating {
  color: #000000;

}


.menu-item-detailsof{
  display: flex;
  justify-content: space-between;
  
}

.menu-item-price{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16.53px;
  font-weight: 860;
  line-height: 22.04px;
  letter-spacing: -0.25345128774642944px;
  text-align: left;
  color: #D42828;
}

.add-to-basket-button{
  width: 95px;
  height: 28px;
  padding: 4px 33.5px;
  gap: 1px;
  border-radius: 40px;
  background-color: #F5D187;
  color:#000000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.23000000417232513px;
  text-align: left;
  
}

.add-to-basket-button:hover {
  background-color: #3f93ec;
  transition: 0.5s;
  cursor: pointer;
}




/* Button container styling*/
.button-container {
  display: flex;  /* Uses flexbox for layout */

  justify-content: center;
  align-items: center;
  height: 100%;   /* Takes up full height of the container */
  margin: 60px 0;
}*/




/* Login button styling */
#loginForm .login-btn {
  width: 40%;
  background-color: #F5D187;  /* Sets the idle mode background color */
  border: 1px solid black;
  padding: 4px 10px;
  margin-left: 90px;
  font-size: 16px;
  border-radius: 30px;
}

/*Styling for the button on hover*/
#loginForm .login-btn:hover {
  background-color: #E8A722;
  }


  #loginForm .login-btn:active {
    background-color: #e6a626;  /* Changes background color when clicked */
    outline: 1px solid black;
    outline-offset: 2px;
  }

/* Modal button styling */
#openModalBtn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  background-color: aquamarine;
}

/* Modal */
.modal {
  display: none;/* Hides modal by default */
  position: fixed;
  z-index: 1; /* Ensures modal is above other content */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Adds scrollbars if needed */
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 160px;
}

.modal-content {
  background-color: #ffffff;
  border-radius: 2rem;
  padding: 20px 25px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  position: relative;
}

/* Login and Registration Container Styling */
.login-container,
.registration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Logo styling */
.logo {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

/* Close button styling in modals */
.close {
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 10px;
}

.close:hover,
.close:focus {
  color: #aaaaaa;   /* Changes color on hover or focus */
  text-decoration: none;
  cursor: pointer;
}

/* Signup and login Form Input control styling */
.input-control,
#loginForm, #registration-form .input-control {
  width: 300px;
  position: relative;
  margin-bottom: 20px;
}

.input-wrapper {
  position: relative; /* Positions wrapper relative to its normal position */
}

/*Styling for login form input area*/
#loginForm .input-control input {
  border: 1px solid #cccccc;
  border-radius: 5px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  transition: border-color 0.3s;  /* Adds transition effect on border color */
}

.input-control label {
  position: absolute;
  left: 10px;
  top:0;
  transform: translateY(-50%);  /* Centers label vertically */
  background-color: #ffffff;
  padding: 0 5px;
  font-size: 12px;
  color: #666666;
  transition: all 0.3s;
}

#loginForm .input-control input:focus {
  outline: 0; /* Removes default outline */
  background-color: #f9f9f9;
  border-color: #000000;
}

#loginForm .input-control.success input {
  border: 1px solid;
  border-color: #09c372;  /* Sets border color for successful input*/
}

#loginForm .input-control.error input  {
  border: 1px solid;
  border-color: #ff3860;  /* Sets border color for error */
}

#loginForm .input-control .error {
  color: #ff3860; /* Sets text color for error messages */
  font-size: 9px;
  height: 13px;
}


/* Registration Form */
#registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  /* Centers children vertically */
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

#registration-form label {
  position: absolute;
  left: 10px;
  top:0;
  transform: translateY(-50%);  /* Centers label vertically */
  background-color: #ffffff;
  padding: 0 5px;
  font-size: 12px;
  color: #666666; /* Sets text color */
  transition: all 0.3s;
}

/*Styling for the input areas text, email, password*/
.input-control input,
#registration-form input[type='text'],
#registration-form input[type='email'],
#registration-form input[type='password'] {
  border: 1px solid #cccccc;
  border-radius: 5px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  transition: border-color 0.3s;
}

/*Styling for the input areas text, email, password when in focus*/
.input-control input:focus,
#registration-form input[type='text']:focus,
#registration-form input[type='email']:focus,
#registration-form input[type='password']:focus {
  outline: 0;
  background-color: #f9f9f9;
  border-color: #000000;
}

#registration-title {
  text-align: center;
  color: lightslategrey;
  margin-right: 80px;
  margin-bottom: 30px;
}

.finalize {
  width: 90%; /* Sets width of finalize section */
  display: flex;
}

/*Styling for the register button in signup*/
.registerbtn {
  width: 40%;
  background-color: #F5D187;
  padding: 4px 10px;
  margin-left: 90px;
  font-size: 16px;
  border-radius: 30px;
}


.registerbtn:hover {
  background-color: #E8A722;
}

.registerbtn:active {
  background-color: #e6a626;
  outline: 1px solid black;
  outline-offset: 2px;
}

/*search and filter style*/

/*.search-filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}*/



.filter-btn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  margin-left: 10px;
}

.filter-btn i {
  margin-left: 5px;
}

/*payment options styling starts here NEW*/

#login-credit {
  width: 60%;
}



.basket-btn {
  background-color: white;
}

#basketItems {
  list-style-type: none;
  padding: 0;
  overflow-y: auto;
  height: 300px;
  margin-top: 30px;
  font-size: 18px;
}

#basketItems li {
  margin-bottom: 20px;
}

.checkout-btn,
.pay-btn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 52px;
  background-color: #f5d187;
  border: none;
  cursor: pointer;
  width: 120px;
}
/*payment options styling ends here*/

.filter-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content .dropdown-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content .dropdown-item:hover {
  background-color: #ddd;
}

.filter-dropdown:hover .dropdown-content {
  display: block;
}



#footer{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  
  bottom: 0;
  width: 100%;
  height: 40px;
  background: #D2D8CB;
}
#copyright-logo{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 68.86px;
  letter-spacing: 10.010883331298828px;
  color: #000000;
  width: 31px;
  height: 47px;

}

#footer-text{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 510;
  line-height: 68.86px;
  letter-spacing: 4px;
  width: 175px;
  height: 69px;
}

/* Responsive adjustments to be at the very bottom of this styling file*/

/* Basket styles */

.basket-heading {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 31px;
}

.basket-title {
  text-transform: uppercase;
  letter-spacing: 7px;
}

.basket-summary {
  display: flex;
  justify-content: space-between;
}

.basket-prelim {
  text-align: right;
  margin-bottom: 20px;
}

#basketTotal {
  font-weight: bold;
}

.thanks-box {
  background-color: #fcf6ea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  border-radius: 5px;
}

.thanks-box p {
  font-size: 24px;
}

.basket-checkout {
  margin-top: 10px;
}

.basket-total {
  display: flex;
  justify-content: space-between;
}

.basket-total {
  font-size: 22px;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

/* Checkout styles */

.checkout-price,
.checkout-total,
.checkout-credit {
  color: #d42828;
}

.checkout-heading {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 31px;
}

.checkout-logo {
  display: flex;
  justify-content: center;
}

.checkout-text {
  font-weight: 700;
  font-size: 22px;
}

.remove-from-basket-button {
  background-color: #fff;
  color: #d42828;
  display: block;
  text-align: left;
}

.total-container {
  margin-top: 60px;
  margin-bottom: 10px;
}

.pay-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 30px;
}

/* Styling currency */

.currency-styles {
  display: flex;
  font-weight: bold;
  color: #d42828;
}

/* Responsive adjustments to be at the very bottom of this styling file, DO NOT DELETE*/


@media screen and (max-width: 1325px) {
  .modal-content {
    width: 95%;
    padding: 15px;
  }

  #registration-form {
    max-width: 100%;
  }

  .finalize {
    flex-direction: column; /* Stacks items vertically on small screens*/
  }

    .registerbtn {
    width: 100%;  /* Takes full width on small screens */
    margin: 5px 0;
  }
  #header-section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .search-bar{
    width: 150px;
  }
  #menu-list{
    gap: 24.78px 9px;
  }
  .menu-item{
    width: 200px;
    height: 300px;
    flex-direction: column;
  }
  .menu-image-div{
    width: 175.93px;
    height: 210.14px;

  }
  .menu-item-name{
    font-size: 15.64px;
    font-weight: 700;
    line-height: 18.66px;
    text-align: left;
    width: 175.93px;
    height: 36.16px;
    margin-bottom: 15px;
  }

  .menu-item-rating {
    width: 60.6px;
    height: 11.09px;
  }
  .menu-item-description{
    display: none;
  }


}
