.menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.menu-item-image {
  max-width: 200px;
  height: auto;
  border-radius: 20px;
}

.primary-menu-item-details-div {
  padding: 20px;
  flex: 2;
}

.menu-list-item {
  border: 5px solid aqua;
  width: 700px;
  height: auto;
}

.menu-item {
  display: flex;
  flex-wrap: wrap;
}

.menu-item-details {
  display: flex;
  justify-content: space-between;
  border: 2px, solid, red;
}