body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.menu-image-div {
  width: 200px;
}

.menu-item-image {
  max-width: 200px;
  height: auto;
  border-radius: 20px;
}

.primary-menu-item-details-div {
  padding: 20px;
  flex: 2;
}

.menu-list-item {
  border: 1px solid #fff;
  width: 700px;
  height: auto;
  border-radius: 1rem;
  box-shadow: 0px 4px 21px -12px rgba(0, 0, 0, 0.79);
}

.menu-item {
  display: flex;
  flex-wrap: wrap;
}

.menu-item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-item-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.menu-item-description {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 10px;
}

.menu-item-price {
  color: crimson;
}

.add-to-basket-button {
  color: aliceblue;
  background-color: #007aff;
  border-radius: 20px;
  width: 75px;
  height: 35px;
}

.add-to-basket-button:hover {
  background-color: #3f93ec;
  transition: 0.5s;
  cursor: pointer;
}

.menu-item-rating {
  color: gold;
}

/* Button Container */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 60px 0;
}

.signup-btn,
.login-btn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  background-color: rgb(255, 195, 127);
  border: none;
  cursor: pointer;
}

.signup-btn {
  margin-right: 20px;
}

.signup-btn:hover,
.login-btn:hover {
  background-color: darkcyan;
}

#openModalBtn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  background-color: aquamarine;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 160px;
}

.modal-content {
  background-color: #fefefe;
  border-radius: 2rem;
  padding: 20px 25px;
  width: 532px;
  margin: 0 auto;
}

.close {
  color: #000;
  float: right;
  font-size: 28px;
  margin-right: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Login Form */
#loginForm .input-control {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 90px;
  font-weight: bold;
}

#login-title {
  text-align: center;
  color: lightslategrey;
  margin-right: 120px;
  margin-bottom: 30px;
}

#loginForm .input-control input {
  border: 2px solid #f0f0f0;
  border-radius: 10px;
  display: block;
  font-size: 12px;
  padding: 10px;
  margin-right: 50px;
}

#loginForm .input-control input:focus {
  outline: 0;
  background-color: #ddd;
}

#loginForm .input-control.success input {
  border-color: #09c372;
}

#loginForm .input-control.error input {
  border-color: #ff3860;
}

#loginForm .input-control .error {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}

#loginForm .login-btn {
  margin: 25px 0;
  margin-right: 50px;
}

/* Registration Form */
#registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

#registration-form label {
  width: 100%;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
}

#registration-form input[type='text'],
#registration-form input[type='email'],
#registration-form input[type='password'] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  background: #f1f1f1;
  box-sizing: border-box;
}

#registration-form input[type='text']:focus,
#registration-form input[type='email']:focus,
#registration-form input[type='password']:focus {
  background-color: #ddd;
  outline: none;
}

#registration-title {
  text-align: center;
  color: lightslategrey;
  margin-right: 80px;
  margin-bottom: 30px;
}

.finalize {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.cancelbtn,
.registerbtn {
  background-color: rgb(255, 195, 127);
  border-radius: 6px;
  cursor: pointer;
  padding: 8px 8px;
  margin: 10px 0;
  width: 48%;
}

.cancelbtn:hover {
  background-color: red;
}
.registerbtn:hover {
  background-color: darkcyan;
}

/*search and filter style*/

.search-filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.search-bar {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px 0 0 20px;
  width: 300px;
  font-size: 16px;
}

.search-btn {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 20px 20px 0;
  background-color: #ddd;
  cursor: pointer;
}

.filter-btn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  margin-left: 10px;
}

.filter-btn i {
  margin-left: 5px;
}

/*payment options styling starts here NEW*/

#login-credit {
  width: 60%;
}

.basket-btn {
  padding: 10px 20px;
  margin-left: 20px;
  font-size: 16px;
  color: #ffffff;
  border-radius: 10px;
  background-color: #3f93ec;
  border: none;
  cursor: pointer;
}

#basketItems {
  list-style-type: none;
  padding: 0;
  overflow-y: auto;
  height: 300px;
  margin-top: 30px;
  font-size: 18px;
}

#basketItems li {
  margin-bottom: 20px;
}

.checkout-btn,
.pay-btn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 52px;
  background-color: #f5d187;
  border: none;
  cursor: pointer;
  width: 120px;
}
/*payment options styling ends here*/

.filter-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content .dropdown-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content .dropdown-item:hover {
  background-color: #ddd;
}

.filter-dropdown:hover .dropdown-content {
  display: block;
}

/* Basket styles */

.basket-heading {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 31px;
}

.basket-title {
  text-transform: uppercase;
  letter-spacing: 7px;
}

.basket-summary {
  display: flex;
  justify-content: space-between;
}

.basket-prelim {
  text-align: right;
  margin-bottom: 20px;
}

#basketTotal {
  font-weight: bold;
}

.thanks-box {
  background-color: #fcf6ea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  border-radius: 5px;
}

.thanks-box p {
  font-size: 24px;
}

.basket-checkout {
  margin-top: 10px;
}

.basket-total {
  display: flex;
  justify-content: space-between;
}

.basket-total {
  font-size: 22px;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

/* Checkout styles */

.checkout-price,
.checkout-total,
.checkout-credit {
  color: #d42828;
}

.checkout-heading {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 31px;
}

.checkout-logo {
  display: flex;
  justify-content: center;
}

.checkout-text {
  font-weight: 700;
  font-size: 22px;
}

.remove-from-basket-button {
  background-color: #fff;
  color: #d42828;
  display: block;
  text-align: left;
}

.total-container {
  margin-top: 60px;
  margin-bottom: 10px;
}

.pay-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 30px;
}

/* Styling currency */

.currency-styles {
  display: flex;
  font-weight: bold;
  color: #d42828;
}

/* Responsive adjustments to be at the very bottom of this styling file*/
@media screen and (max-width: 600px) {
  .modal-content {
    width: 95%;
    padding: 15px;
  }

  #registration-form {
    max-width: 100%;
  }

  .finalize {
    flex-direction: column;
  }

  .cancelbtn,
  .registerbtn {
    width: 100%;
    margin: 5px 0;
  }
}
